<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>dbconn</servlet-name>
        <servlet-class>mysql.dbconn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dc</servlet-name>
        <servlet-class>action.dc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dc_showBeeswarm</servlet-name>
        <servlet-class>action.dc_showBeeswarm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dc_showCancerMS</servlet-name>
        <servlet-class>action.dc_showCancerMS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancerlist</servlet-name>
        <servlet-class>action.cancerlist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sitelist</servlet-name>
        <servlet-class>action.sitelist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>datasetlist</servlet-name>
        <servlet-class>action.datasetlist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showtypeList</servlet-name>
        <servlet-class>action.showtypeList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ccc</servlet-name>
        <servlet-class>action.ccc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ccc_middle</servlet-name>
        <servlet-class>action.ccc_middle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ccc_right</servlet-name>
        <servlet-class>action.ccc_right</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ccc_search_middle</servlet-name>
        <servlet-class>action.ccc_search_middle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tc_middle</servlet-name>
        <servlet-class>action.tc_middle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tc_right</servlet-name>
        <servlet-class>action.tc_right</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>de</servlet-name>
        <servlet-class>action.de</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fc</servlet-name>
        <servlet-class>action.fc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ci_search_heatmap_circular</servlet-name>
        <servlet-class>action.ci_search_heatmap_circular</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>gc_search_scatter_bar_polar</servlet-name>
        <servlet-class>action.gc_search_scatter_bar_polar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>genelist</servlet-name>
        <servlet-class>action.genelist</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dbconn</servlet-name>
        <url-pattern>/dbconn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dc</servlet-name>
        <url-pattern>/dc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dc_showBeeswarm</servlet-name>
        <url-pattern>/dc_showBeeswarm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>dc_showCancerMS</servlet-name>
        <url-pattern>/dc_showCancerMS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancerlist</servlet-name>
        <url-pattern>/cancerlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sitelist</servlet-name>
        <url-pattern>/sitelist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>datasetlist</servlet-name>
        <url-pattern>/datasetlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showtypeList</servlet-name>
        <url-pattern>/showtypeList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ccc</servlet-name>
        <url-pattern>/ccc</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
    <servlet-name>ccc_middle</servlet-name>
        <url-pattern>/ccc_middle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ccc_right</servlet-name>
        <url-pattern>/ccc_right</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
   <servlet-name>tc_right</servlet-name>
        <url-pattern>/tc_right</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tc_middle</servlet-name>
        <url-pattern>/tc_middle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ccc_search_middle</servlet-name>
        <url-pattern>/ccc_search_middle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>de</servlet-name>
        <url-pattern>/de</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fc</servlet-name>
        <url-pattern>/fc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ci_search_heatmap_circular</servlet-name>
        <url-pattern>/ci_search_heatmap_circular</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gc_search_scatter_bar_polar</servlet-name>
        <url-pattern>/gc_search_scatter_bar_polar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>genelist</servlet-name>
        <url-pattern>/genelist</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
